/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
body {
background: LightGray;
}
/*Navigation Section */
.top-navigation {
background-color: #fff;
}
.top-navigation > .content {
margin: 0 auto;
width: 970px;
height:70px;
padding: 0px 15px;
}
.top-navigation .logo {
	margin-top: 10px;
}
.top-navigation .links {
float: right;
color: #838994;
font-size: 1.04rem;
margin-top: 1.7rem;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
/*Typography */
body {
font-family: 'Roboto', sans serif;
-webkit-font-smoothing: antialiased;
font-size: 16px;
color: #838994;
letter-spacing: 0.03em;
}
/*Introduction 
*/
.introduction {
background-image: url('../images/first-background.jpg');
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
height: 735px;
overflow: auto;
}
.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
.introduction .buttons {
	width: 8rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-align-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 5px;
}

.introduction .buttons:hover {
background-color: #d9400e;
border-color: #cf3d0e;
cursor: pointer;
}

/*Icons*/
.icons {
	background-color: #fff;
	overflow: hidden;
}
.icons > .content {
margin: 0 auto;
margin-top: 7.875rem;
width: 970px;
height:525px;
padding: 0px 15px;
color: #1d1e21;
}
.icons h2 {
	font: inherit;
	margin: 1.625rem 0 3.125rem;
	font-size: 2.7em;
	font-weight: 300;
	text-align: center;
}
.icons .symbols >li {
	margin: 2.5rem 0px 1.875rem;
	width: 33%;
	text-align: center;
	float: left;
	display: block;
}
.icons .symbols .caption >h3 {
	margin: 0 auto;
	width: 300px;
	font-weight: 300;
	font-size: 1.5em;
	text-align: center;
	margin-top: 2em;
	font-weight: 400;
}
